.hero{
    background-color: rgb(8, 13, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.hero_container{
    display: flex;
    padding: 2vw;
}
.hero_container_image img{
    max-width: 600px;
    margin: 20px;
}