.feutwo{
    height: 60rem;
    display: flex;
    padding: 4vw;
    background: linear-gradient(#1a3339,  #0c0922 50%, #000000);
    padding-inline: 10vw;
}

.feutwo_conteiner img{
    margin-top: 10rem;
    width: 1200px;
}


.feutwo_conteiner{
    font-size: 1.1rem;
    margin-right: 200px;
    width: 50px;

}

.service{
    margin: left;
}

.shcont{
    font-size: 2rem;
}

.feutwo_conteiner_stolbic{
    margin-top: 19rem;
    margin-left: 40rem;
    align-items: center;
    font-size: 1.3rem;
    width: 80vw;
    min-width: 30vw;
}
