.features-two{
    
    margin: 0;
    background: linear-gradient(#1a3339,  #101f4f8f 50%, #000000);
    background-color: #154caadf;

}
.features-two_box{
    padding: 10vw;
}
.features-two h1{
    text-align: center;
    padding: 2rem;
}
.features-two_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
.features-two_container img{
    all: unset;
    height: 20vh;
}

@media screen and (max-width: 770px) {
    #two{margin: 0rem;}
    .features-two{
        padding-inline: 1rem;
    }
    .features-two_container{
        flex-direction: column;
        font-size: 10px;
        margin: 0;
    }
    img{
        height: 20vh;
    }
    li{
        margin-top: 1rem;
        font-weight:  300;
        font-size: 1.5vh;
    }
    .features_container_conclusion{
        font-size: 1.5vh;
        text-align: justify;
        margin-top: 3vh;
    }
}